.button {
   width: 236px;
   height: 48px;
   opacity: 0.76;
   border: solid 1px #fdfdfd;
   background-color: #ececec;
   border-radius: 5px;

   font-size: 19px;
   font-weight: 400;
   color: #000;
   text-transform: uppercase;

   &__popup {
      margin-top: 73px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
   }
}
