.menu {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0;

   li {
      position: relative;
      list-style: none;
      text-transform: uppercase;

      &:hover {
         ul {
            display: block;
         }
      }
   }

   a {
      text-decoration: none;
      color: $link-color;
      display: block;
      text-align: center;
      height: 40px;
      line-height: 40px;
      transition: all 0.5ms;
      margin: 0px 1px 0px 1px;

      &:hover {
         font-weight: 600;
         margin: 0;
      }
   }

   ul {
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
      padding: 0;
   }

   &__sublist {
      background-color: #fff;
      width: 270px;
   }

   &__sublink a {
      text-align: left;
   }
}
